Kvasir-SEG
out_imgs
inpainting/log
output
__pycache__
meeting_doc
*.png
*.jpg
*.csv
*.eps
*.gif
*.pt
.yml
Thesis_images
small_ddpm_test
guided-diffusion/find_similar_img.py
guided-diffusion/interpolation.py
guided-diffusion/load_model.py
guided-diffusion/make_gif.py
guided-diffusion/plot_info.py
guided-diffusion/generated_dataset
guided-diffusion/login_and_down_and_upload_ssh_scp.txt
guided-diffusion/slurm-392788.out
guided-diffusion/slurm-397386.out
guided-diffusion/test_wand.py
guided-diffusion/transform_dataset.py
guided-diffusion/view_img.py
!RePaint/data/datasets/gt_keep_masks/polyp/my.png
!RePaint/data/datasets/gts/polyp/my.png
